<div class="container">
    <div>
        <div class="row my-3 mx-2">
            <div class="form" id="H&S_Skills">
              <div>
                <h3>Habilidades</h3>
              </div>
              <div>
                <button type="button" class="btn" (click)="onClick()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                </button>
              </div>
            </div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit veniam, consectetur magnam nemo, magni ratione illo assumenda ut sint mollitia iure similique asperiores inventore officiis.</p>
        </div>
        <div *ngFor="let habilidades of habilidadesList">
          <div class="row rounded m-2 my-3 py-4" style="background-color: #ccd5ae;">
            <h4>{{habilidades.tipo}}</h4>
            <div class="py-2">
              <h6>{{habilidades.etiqueta1}}</h6>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: {{habilidades.progreso1}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{habilidades.progreso1}}%</div>
              </div>
            </div>  
            <br>
            <div class="py-2">
              <h6>{{habilidades.etiqueta2}}</h6>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: {{habilidades.progreso2}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{habilidades.progreso2}}%</div>
              </div>
            </div> 
            <br>
            <div class="py-2">
              <h6>{{habilidades.etiqueta3}}</h6>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: {{habilidades.progreso3}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{habilidades.progreso3}}%</div>
              </div>
            </div> 
            <br>
            <div class="py-2">
              <h6>{{habilidades.etiqueta4}}</h6>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: {{habilidades.progreso4}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{habilidades.progreso4}}%</div>
              </div>
            </div> 
        </div>
      </div>
    </div>
</div>
