<app-acerca-de (btnClick)="editAcercaDe()">
    </app-acerca-de>
<app-experiencia 
    (btnClick)="experiencia()"
    (onDeleteData)="deleteExperiencia(experiencia)">
    </app-experiencia>
<app-educacion 
    (btnClick)="educacion()"
    (onDeleteData)="deleteEducacion(educacion)">
    </app-educacion>
<app-habilidades (btnClick)="habilidades()">
    </app-habilidades>
<app-proyectos 
    (btnClick)="proyectos()"
    (onDeleteData)="deleteProyecto(proyectos)">
    </app-proyectos>
<app-contacto></app-contacto>