<div class="container-fluid p-5 form white" style="background-color: black">
    <div>
        <a href="#Volver">
            <button type="button" class="btn btn-outline-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z"/>
                    <path fill-rule="evenodd" d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                </svg>
            </button>
        </a>
    </div>
    <div class="flex">
        <div class="mt-1">
            <a href=""><i class="fa-brands fa-facebook h3 px-2 white"></i></a>
            <a href=""><i class="fa-brands fa-square-github h3 px-2 white"></i></a>
            <a href=""><i class="fa-regular fa-envelope h3 px-2 white"></i></a>
        </div>
        <button type="button" class="btn btn-outline-secondary white">Descargar CV</button>
    </div>
</div>